body {
  background-color: white;
}

#container {
  width: 840px;
  margin: 25px auto;
}


.whysign {
  float: left;
  background-color: white;
  width: 480px;
  height: 465px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

.whysign-login {
  float: left;
  background-color: white;
  width: 480px;
  height: 300px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

.signup-login {
  float: left;
  width: 300px;
  height: 300px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

.signup {
  float: left;
  width: 300px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

input {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
  font-family: 'Lato', sans-serif;
}

[type=submit] {
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: #231E39;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

[type='text']:focus {
  outline: none;
  border-color: #53CACE;
}

h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}

p:nth-of-type(2) {
  font-size: 1em;
}