* {
    font-family: 'Montserrat', sans-serif;
}

nav, footer {
    background-color: white;
    color: black;
}

nav {
    border-bottom: 5px solid skyblue;
}
footer {
    border-top: 5px solid skyblue;
}

body {
    background-image: url('https://cdn.lowgif.com/full/96136b00726cbef5-.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron a {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 20px;
}

.card{
    border-radius: 8px;
}

.courseTitle {
    font-weight: bolder;
    font-size: 23px;
}

.courseDetails {
    font-weight: lighter;
}

.coursePrice {
    font-weight: normal;
}


.adjust-card {
    padding-top: 50px;
}

.card {
    padding: 20px 10px;
}

nav a {
    color: black;
}


.border-right {
    border-right: 2px solid black;
}


.btn {
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
}

#createCourse, #editCourse, #updateForm {
    margin-top: 200px;
}


a {
    font-size: .75em;
    background-color: white;
    padding: 2px 5px;
    color: rgba(0,0,0,.6);
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    margin: 5px;
    font-weight: bold;
  }
  
  a:hover {
    color: gray;

  }